@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Your default theme */
    --background: white;
    --foreground: black;
  }
  
  [data-theme='dark'] {
    --background: rgb(255, 0, 0);
    --foreground: white;
  }

  /* double check dark theme default and if this is still needed */